html, body {
    font-family: serif;
    font-size: 16px;
  }
  
  .countdown-container {
    margin: 10px;
  }
  
  .time-container {
    display: flex;
  }
  
  .time {
    margin: 10px;
    /* background-color: rgb(180, 182, 253, 255); */
    background-color: orange;
    border-radius: 20rem;
    padding: 2rem;
  }
  
  #day,#hour,#min,#sec {
    font-size: 3rem;
    margin-right: 1rem;
  }
